{ #layout_header }

<article class="content">
    <div class="content-news">
		<ul class="category">
			<li><a href=""  class="on">Main</a></li>
			<li><a href="">Business</a></li>
			<li><a href="">Politic</a></li>
			<li><a href="">Social</a></li>
			<li><a href="">Sport</a></li>
			<li><a href="">International</a></li>
		</ul>

		<div class="content_left">
			<div class="top_story">
				<h2 class="top_story_header">
					<a href="#">EU leaders seek US spying talks
					<img src="/images/common/thumb300_200.jpg" alt="photo_name"></a>
				</h2>
				<p>France and Germany want to hold talks with the US by the end of the year to settle a row over spying, German Chancellor Angela Merkel has said.It follows claims that her mobile phone and millions of French calls have been monitored by the US National Security Agency (NSA).</p>
			</div>
			<div class="second_top_story">
				<h2 class="top_story_header">
					<a href="#">
					<img src="/images/common/thumb150_100.jpg" alt="photo_name">NHS complaints review set to report </a>
				</h2>
				<p>The conclusions of a government review into the way the NHS in England handles complaints will be published on Monday. '24-hour' complaint process needed </p>
			</div>
			<div class="second_top_story">
				<h2 class="top_story_header">
					<a href="#">
					<img src="/images/common/thumb150_100.jpg" alt="photo_name">NHS complaints review set to report </a>
				</h2>
				<p>The conclusions of a government review into the way the NHS in England handles complaints will be published on Monday. '24-hour' complaint process needed </p>
			</div>


			<div class="category_story">
				<dl class="category_section mrt10">
					<dt><a href="#">Business</a></dt>
					<dd>
						<a href="#">
						<img src="/images/common/thumb150_100.jpg" alt="photo_name">
						NHS complaints review set to report</a>
					</dd>
					<dd><a href="#">Samsung Electronics  profit jumps 26% </a></dd>
					<dd><a href="#">BBC World News business headlines Watch </a></dd>
				</dl>
				<dl class="category_section mrt10">
					<dt><a href="#">Politic</a></dt>
					<dd>
						<a href="#">
						<img src="/images/common/thumb150_100.jpg" alt="photo_name">
						NHS complaints review set to report</a>
					</dd>
					<dd><a href="#">Samsung Electronics  profit jumps 26% </a></dd>
					<dd><a href="#">BBC World News business headlines  <br/>Watch </a></dd>
				</dl>
				<dl class="category_section mrt10">
					<dt><a href="#">Social</a></dt>
					<dd>
						<a href="#">
						<img src="/images/common/thumb150_100.jpg" alt="photo_name">
						NHS complaints review set to report</a>
					</dd>
					<dd><a href="#">Samsung Electronics  profit jumps 26% </a></dd>
					<dd><a href="#">BBC World News  business headlines  Watch </a></dd>
				</dl>
				<dl class="category_section">
					<dt><a href="#">Sport</a></dt>
					<dd>
						<a href="#">
						<img src="/images/common/thumb150_100.jpg" alt="photo_name">
						NHS complaints review set to report</a>
					</dd>
					<dd><a href="#">Samsung Electronics  profit jumps 26% </a></dd>
					<dd><a href="#">BBC World News  business headlines Watch </a></dd>
				</dl>
			</div>


			<div class="category_story_title">
				<p class="cate_title mb10"><a href="#">International</a></p>
				<dl class="category_section  mrt10">
					<dt><a href="#">Africa&Middle East</a></dt>
					<dd>
						<a href="#">
						<img src="/images/common/thumb150_100.jpg" alt="photo_name">
						NHS complaints review set to report</a>
					</dd>
					<dd><a href="#">Samsung Electronics  <br/>profit jumps 26% </a></dd>
					<dd><a href="#">BBC World News  <br/>business headlines  <br/>Watch </a></dd>
				</dl>
				<dl class="category_section mrt10">
					<dt><a href="#">Americas</a></dt>
					<dd>
						<a href="#">
						<img src="/images/common/thumb150_100.jpg" alt="photo_name">
						NHS complaints review set to report</a>
					</dd>
					<dd><a href="#">Samsung Electronics  <br/>profit jumps 26% </a></dd>
					<dd><a href="#">BBC World News  <br/>business headlines  <br/>Watch </a></dd>
				</dl>
				<dl class="category_section mrt10">
					<dt><a href="#">Europe</a></dt>
					<dd>
						<a href="#">
						<img src="/images/common/thumb150_100.jpg" alt="photo_name">
						NHS complaints review set to report</a>
					</dd>
					<dd><a href="#">Samsung Electronics  <br/>profit jumps 26% </a></dd>
					<dd><a href="#">BBC World News  <br/>business headlines  <br/>Watch </a></dd>
				</dl>
				<dl class="category_section">
					<dt><a href="#">Asia</a></dt>
					<dd>
						<a href="#">
						<img src="/images/common/thumb150_100.jpg" alt="photo_name">
						NHS complaints review set to report</a>
					</dd>
					<dd><a href="#">Samsung Electronics  <br/>profit jumps 26% </a></dd>
					<dd><a href="#">BBC World News  <br/>business headlines  <br/>Watch </a></dd>
				</dl>
			</div>


		</div>


		<div class="content_right">
			<div class="ad_area">
				<a href="#"><img src="/images/common/ad_img.jpg" alt="ad"></a>
			</div>

			<div class="lank_section mt30 mlt20 mrt20">
				<h2>Most Popular</h2>
				<ol>
					<li><a href="#"><span>1</span>Samsung Electronics  profit jumps 26% </a></li>
					<li><a href="#"><span>2</span>NHS complaints review set to report </a></li>
					<li><a href="#"><span>3</span>BBC World News  business headlines Watch</a></li>
					<li><a href="#"><span>4</span>Samsung Electronics  profit jumps 26% </a></li>
					<li><a href="#"><span>5</span>BBC World News  business headlines Watch </a></li>
					<li><a href="#"><span>6</span>Samsung Electronics  profit  </a></li>
					<li><a href="#"><span>7</span>Samsung Electronics  profit jumps 26% </a></li>
					<li><a href="#"><span>8</span>Samsung BBC World News  business headlines Watch</a></li>
					<li><a href="#"><span>9</span>Samsung Electronics  profit jumps 26% </a></li>
					<li><a href="#"><span>10</span>Samsung BBC World News  business headlines Watch </a></li>
				</ol>
			</div>
		</div>


    </div>
</article>

{ #layout_footer }