{ #layout_admin_header }
<ol class="breadcrumb">
    <li><a href="/adm/main/index">HOME</a></li>
    <li><a href="/adm/advertise/index">광고/제휴 문의</a></li>
    <li class="active">정보수정</li>
</ol>
<div class="content container">
    <form class="form-horizontal" id="form-validate"  action="/adm/advertise/process" method="post" enctype="multipart/form-data">
        <input type="hidden" name="mode" value="modify">
        <input type="hidden" name="adNO" value="{adNO}">

        <div class="row bordered">
            <div class="col-lg-2 text-right"><span class="mrt20">번호</span></div>
            <div class="col-lg-10"><span class="mlt20">{adNO}</span></div>
        </div>
        <div class="row bordered">
            <div class="col-lg-2 text-right"><span class="mrt20">회사명</span></div>
            <div class="col-lg-10"><span class="mlt20">{adCompany}</span></div>
        </div>
        <div class="row bordered">
            <div class="col-lg-2 text-right"><span class="mrt20">성명</span></div>
            <div class="col-lg-10"><span class="mlt20">{adName}</span></div>
        </div>
        <div class="row bordered">
            <div class="col-lg-2 text-right"><span class="mrt20">연락처</span></div>
            <div class="col-lg-10"><span class="mlt20">{adContact}</span></div>
        </div>
        <div class="row bordered">
            <div class="col-lg-2 text-right"><span class="mrt20">Email</span></div>
            <div class="col-lg-10"><span class="mlt20">{adEmail}</span></div>
        </div>
        <div class="row bordered">
            <div class="col-lg-2 text-right"><span class="mrt20">타입</span></div>
            <div class="col-lg-10"><span class="mlt20">{adType}</span></div>
        </div>
        <div class="row bordered">
            <div class="col-lg-2 text-right"><span class="mrt20">내용</span></div>
            <div class="col-lg-10"><span class="mlt20">{adContents}</span></div>
        </div>
        <div class="row bordered">
            <label class="col-lg-2 control-label">진행상황</label>
            <div class="col-lg-10">
                <label class="radio-inline"><input type="radio" name="adStatus" {? adStatus === "APPLY"}checked="checked"{/} value="APPLY">접수</label>
                <label class="radio-inline"><input type="radio" name="adStatus" {? adStatus === "IN PROGRESS"}checked="checked"{/} value="IN PROGRESS">진행중</label>
                <label class="radio-inline"><input type="radio" name="adStatus" {? adStatus === "COMPLETE"}checked="checked"{/} value="COMPLETE">완료</label>
            </div>
        </div>

        <div class="mt20">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <button type="submit" class="btn marginR10 btn-success">저장</button>
                <a href="/adm/advertise/view/adNO/{adNO}" class="btn btn-default">취소</a>
            </div>
        </div>

    </form>
</div>
{ #layout_admin_footer }
 