{ #layout_header }

<article class="content">
    <div id="navi" class="navigation">
        <div class="navi_wrap">
            <a href="" class="home">Home</a> >
            <a href="/content/index">Video</a>
        </div>
    </div>
    <div class="content-main">
        <div class="mainbox5" style="padding:0 0 30px 0; width: 721px;">
        { #widget_content_focusContent}
        { #widget_content_content}
        </div>
        { #widget_content_updateContent}
    </div>
</article>

{ #layout_footer }