{ #layout_header }
<article class="content">
    <div id="navi" class="navigation">
        <div class="navi_wrap">
            <a href="" class="home">Home</a> >
            <a href="/mypage_view/index">Mypage</a> 
            <!--a href="/mypage/report/bodID/report">My Report list</a-->
        </div>
    </div>
    <div class="content-mypage">
        <div class="mypageinfor">
            <p><strong>{member.mbFirstName}</strong>  <a href="/member/view">MyInfo</a></p>
        </div>

        <div class="infor-cont">
            {# widget_mypage_mymenu}
            <div class="mypagelist">
                <div class="mypagelistbox">
                    <table  width="100%" >
                        <tbody>
                        <tr>
                            <td valign="top" height="100%" width="100%" style="background:url('/images/godo_admin/sub_topback.gif') repeat-x;">

                                <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="white">
                                    <tbody>
                                    <tr>
                                        <td valign="top" style="padding-left:6px; padding-right:6px;">
                                            <form action="/mypage/report_process" method="post">
                                                <input type="hidden" name="mode" value="modify">
                                                <input type="hidden" name="bodID" value="{bodID}">
                                                <input type="hidden" name="boNO" value="{boNO}">
                                                <div class="title title_top">
                                                    Modify
                                                </div>
                                                <table cellpadding="5" bordercolor="#e6e6e6" border="1" class="tb" style="width: 100%; border-collapse: collapse;">
                                                    <colgroup>
                                                        <col style="padding:0 10px;width:70px;">
                                                        <col style="padding-left:10px">
                                                    </colgroup>
                                                    <tbody>
                                                    <tr style="height:30px;">
                                                        <td align="right" class="input_txt">* Name</td>
                                                        <td class="cell_L">{mbFirstName} {mbLastName}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" class="input_txt">Email</td>
                                                        <td class="cell_L"><input name="boEmail" style="width:400px" value="{boEmail}" class="linebg"></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" class="input_txt">* Title</td>
                                                        <td class="cell_L"><input name="boName" style="width:400px" value="{boName}" class="linebg" required="" fld_esssential=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" class="input_txt">* Content</td>
                                                        <td class="cell_L">
                                                            <div style="height:400px;padding-top:5px;">
                                                                <textarea name="boContent" style="width: 100%; height: 350px;">{boContent}</textarea>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" class="input_txt" valign="top" style="padding-top:10">Upload</td>
                                                        <td class="cell_L">

                                                            <table width="100%" id="table" cellpadding="0" cellspacing="0" border="0">
                                                                <colgroup><col class="engb" align="center">

                                                                </colgroup><tbody><tr>
                                                                <td width="20" nowrap="">1</td>
                                                                <td width="100%">
                                                                    <input type="file" style="width:80%" class="linebg" onchange="preview(this.value,0)">
                                                                    <a href="javascript:add()"><img src="/images/godo_admin/btn_upload_plus.gif" align="absmiddle"></a>
                                                                </td>
                                                                <td id="prvImg0"></td>
                                                            </tr>
                                                            </tbody></table>

                                                            <table><tbody><tr><td height="2"></td></tr></tbody></table>
                                                            <!--div width="100%" style="padding:5;" class="stxt">
                                                                - 파일은 최대 12개까지 다중업로드가 지원됩니다<br>
                                                                - Source창에서 오른쪽 이미지를 클릭하면 이미지치환코드가 입력됩니다
                                                                <div>- 파일 업로드 최대 사이즈는 977K입니다</div>	</div-->

                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div class="button">
                                                    <span class="boardBtn" style="width:50px;" onclick="javascript:submit('frmMod');">Save</span>
                                                    <span class="boardBtn" style="width:50px;"onclick="location.href='/mypage/report/bodID/{bodID}';">List</span>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</article>

{ #layout_footer }