{ #layout_admin_header }
<ol class="breadcrumb">
    <li><a href="/adm/main/index">HOME</a></li>
    <li><a href="/adm/cfg_board/index">게시판관리</a></li>
    <li><a href="/adm/board/index/bodID/{bodID}">{bodName}</a></li>
    <li class="active">게시글 등록</li>
</ol>
    <div class="content container">
        <form class="form-horizontal" role="form" action="/adm/board/process" method="post">
            <input type="hidden" name="mode" value="write">
            <input type="hidden" name="bodID" value="{bodID}">
            <input type="hidden" name="mbID" value="{mbID}">
            <div class="row bordered">
                <div class="col-lg-2 text-right">이름</div>
                <div class="col-lg-10">{mbID}</div>
            </div>
            <div class="row bordered">
                <label for="boName" class="col-lg-2 control-label">제목</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="boName" placeholder="제목" name="boName" value="{boName}">
                </div>
            </div>
            <div class="row bordered">
                <label for="boContent" class="col-lg-2 control-label">내용</label>
                <div class="col-lg-10">
                    <textarea class="col-lg-11" id="boContent" name="boContent" rows="10" cols="100" style=" height:412px; display:none;"></textarea>
                </div>
            </div>

            <div class="mt20">
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                    <button type="submit" onclick="submitContents(this);"class="btn btn-success">저장</button>
                    <a href="/adm/board/index/bodID/{bodID}" class="btn btn-default">취소</a>
                </div>
            </div>
        </form>
    </div>

<script type="text/javascript">
    var oEditors = [];

    // 추가 글꼴 목록
    //var aAdditionalFontSet = [["MS UI Gothic", "MS UI Gothic"], ["Comic Sans MS", "Comic Sans MS"],["TEST","TEST"]];

    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "boContent",
        sSkinURI: "/assets/plugin/SEditer/SmartEditor2Skin.html",
        htParams : {
            bUseToolbar : true,				// 툴바 사용 여부 (true:사용/ false:사용하지 않음)
            bUseVerticalResizer : true,		// 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
            bUseModeChanger : true,			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
            //aAdditionalFontList : aAdditionalFontSet,		// 추가 글꼴 목록
            fOnBeforeUnload : function(){
                //alert("완료!");
            }
        }, //boolean
        fOnAppLoad : function(){
            //예제 코드
            //oEditors.getById["ir1"].exec("PASTE_HTML", ["로딩이 완료된 후에 본문에 삽입되는 text입니다."]);
        },
        fCreator: "createSEditor2"
    });
    function submitContents(elClickedObj) {
        oEditors.getById["boContent"].exec("UPDATE_CONTENTS_FIELD", []);	// 에디터의 내용이 textarea에 적용됩니다.

        // 에디터의 내용에 대한 값 검증은 이곳에서 document.getElementById("ir1").value를 이용해서 처리하면 됩니다.

        try {
            elClickedObj.form.submit();
        } catch(e) {}
    }
</script>

{ #layout_admin_footer }