{ #layout_header }
<article class="content">
<div id="navi" class="navigation">
    <div class="navi_wrap">
        <a href="" class="home">Home</a> >
        <a href="">Support</a> >
        <a href="/board/index/bodID/{bodID}">{cfg_bodName}</a> >
        <a href="/board/index/bodID/{bodID}/boNO/{boNO}">View</a>
    </div>
</div>
<div class="content-mypage">
<div class="mypageinfor">
    <p class="customer_tit"><strong>Support</strong></p>
</div>

<div class="infor-cont">
<div class="mymenu">
    <ul>
        <li><a href="/board/index/bodID/notice" {?bodID=="notice"}class="on"{/}>Notice</a></li>
        <!--li><a href="/board/index/bodID/report" {?bodID=="report"}class="on"{/}>Report</a></li-->
    </ul>
</div>
<div class="customerlist">
    <table style="width:100%;table-layout:fixed" cellspacing="0" cellpadding="0" border="0" >

        <tbody>
        <tr>
            <td  style="padding:10px; color:#666666; border-bottom:1px solid #dadadd " bgcolor="#fbfbfb">
                <b>{boName}</b>
            </td>
        </tr>
        <tr>
            <td align="right" class="eng" style="padding:10px">
                Posted at {boRegDate} / IP {boRemoteIP}
                <div>
                    {bo_mbID}
                </div>
            </td>
        </tr>
        <tr>
            <td style="word-wrap:break-word;word-break:break-all; padding:10px 10px 30px 10px;white-space : pre-line">
                {boContent}
            </td>
        </tr>
        <tr>
            <td>
                { @ bco_rs }
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    <tr style="border:0">
                        <td style="text-align: left; padding: 10px; border-top:1px solid #dadadd;">
                            {? bco_rs.bcoDepth }<img src="/images/common/blank.png" style="width:{bco_rs.bcoDepth*20}px;height:15px;">{/}
                            <strong><span class="member">{bco_rs.mbNick}</span></strong>
                            <span style="color:#888888; font-size:11px;">{bco_rs.bcoRegDate}</span>
                        <span style="float: right;">
                            <span style="color:#B2B2B2; font-size:11px;">{bco_rs.bcoRemoteIP}</span>
                            {?is_login}
                            {? mbID == bco_rs.mbID || is_Admlogin}
                            <a href="javascript:modifyComment({.bcoNO})"><img src="/images/godo_admin/co_btn_modify.gif" border="0" align="absmiddle" alt="수정"></a>
                            {/}
                            <a href="javascript:replyComment({.bcoNO})"><img src="/images/godo_admin/co_btn_reply.gif" border="0" align="absmiddle" alt="답변"></a>
                            {? mbID == bco_rs.mbID || is_Admlogin}
                            <form method="post" action="/comment/process" style="float:right;">
                                <input type="hidden" name="mode" value="delete">
                                <input type="hidden" name="bodID" value="{bodID}">
                                <input type="hidden" name="boNO" value="{boNO}">
                                <input type="hidden" name="bcoNO" value="{bco_rs.bcoNO}">
                                <input type="image" src="/images/godo_admin/co_btn_delete.gif" border="0" align="absmiddle" alt="삭제"></a>
                            </form>
                            {/}
                            {/}
                        </span>

                            <!-- 코멘트 출력 -->
                            <div style="line-height: 20px;word-break: break-all; overflow: hidden; clear: both; font-size: 12px;">
                                {? bco_rs.bcoDepth }<img src="/images/common/blank.png" style="width:{bco_rs.bcoDepth*20}px;height:15px;">{/}
                                {bco_rs.bcoContent}
                            </div>
                            <span id="edit_8" style="display:none;"></span><!-- 수정 -->
                            <span id="reply_8" style="display:none;"></span><!-- 답변 -->

                            <input type="hidden" id="secret_comment_8" value="">
                            <textarea id="save_comment_8" style="display:none;">1</textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>
                {/}
            </td>
        </tr>
        {? bodID != "notice" && bodID != "qna" }
        <tr>
            <td>
                <form method="post" action="/comment/process">
                    <input type="hidden" name="mode" class="mode" value="write">
                    <input type="hidden" name="bcoNO" value="">
                    <input type="hidden" name="bodID" value="{bodID}">
                    <input type="hidden" name="boNO" value="{boNO}">
                    <table width="100%" align="center" class="boreply">
                        <tbody>
                        <tr>
                            <td valign="top" width="10%" nowrap="" class="stxt">
                                <b>NickName</b>
                                <br>
                                <input name="mbNick" class="linebg" style="width:85%" required="" fld_esssential="" msgr="Enter NickName" value="{member.mbNick}" readonly="">
                            </td>
                            <td width="100%" class="stxt">
                                <b>Comments</b>
                                <br>
                                <textarea name="bcoContent" style="width:95%;min-height:54px" class="linebg" required="" fld_esssential="" msgr="Enter Comment"></textarea>
                            </td>
                            <td valign="top" style="padding-top:15px">
                                <!--input type="image" src="/images/godo_admin/board_btn_review.gif"-->
                                <input type="submit" style="background-color:#e3e3e3;padding:15px 20px; width:78px;text-align:center;" value="submit"/>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </td>
        </tr>
        {/}
        <tr>
            <td align="center" style="padding-top:10px;">
                <table width="100%">
                    <tbody>
                    <tr>
                        {? is_Admlogin}
                        <td>
                            <form method="post" action="/board/process" name="boDelete" style="float: left;">
                                <input type="hidden" name="mode" value="delete">
                                <input type="hidden" name="boNO" value="{boNO}">
                                <input type="hidden" name="bodID" value="{bodID}">
                                <span class="btn btn-mini boDelete" style="">Delete</span>
                            </form>
                        </td>
                        <td align="right">
                            <a href="{? is_Admlogin }/adm{/}/board/index/bodID/{bodID}" class="fr"><span class="btn btn-mini">List</span></a>
                            <form name="frmReply" class="form-horizontal frmReply fr" role="form" action="{? is_Admlogin }/adm{/}/board/Reply" method="post">
                                <input type="hidden" name="boNO" value="{boNO}">
                                <input type="hidden" name="bodID" value="{bodID}">
                                <a onclick="frmReply.submit();"><span class="btn btn-mini">Reply</span></a>
                            </form>
                            <form name="frmMod" class="form-horizontal frmMod fr" role="form" action="{? is_Admlogin }/adm{/}/board/modify" method="post">
                                <input type="hidden" name="boNO" value="{boNO}">
                                <input type="hidden" name="bodID" value="{bodID}">
                                <a onclick="frmMod.submit();"><span class="btn btn-mini">Modify</span></a>
                            </form>

                        </td>
                        {: bodID != 'notice' && bodID == 'report'}
                        {?mbID == bo_mbID}
                        <td>
                            <form method="post" action="/board/process" name="boDelete" style="float: left;">
                                <input type="hidden" name="mode" value="delete">
                                <input type="hidden" name="boNO" value="{boNO}">
                                <input type="hidden" name="bodID" value="{bodID}">
                                <span class="btn btn-mini boDelete" style="">Delete</span>
                            </form>
                        </td>
                        {/}
                        <td align="right">
                            <a href="{? is_Admlogin }/adm{/}/board/index/bodID/{bodID}" class="fr"><span class="btn btn-mini">List</span></a>
                            {? mbID == bo_mbID}
                            <form name="frmReply" class="form-horizontal frmReply fr" role="form" action="{? is_Admlogin }/adm{/}/board/Reply" method="post">
                                <input type="hidden" name="boNO" value="{boNO}">
                                <input type="hidden" name="bodID" value="{bodID}">
                                <a onclick="frmReply.submit();"><span class="btn btn-mini">Reply</span></a>
                            </form>
                            <form name="frmMod" class="form-horizontal frmMod fr" role="form" action="{? is_Admlogin }/adm{/}/board/modify" method="post">
                                <input type="hidden" name="boNO" value="{boNO}">
                                <input type="hidden" name="bodID" value="{bodID}">
                                <a onclick="frmMod.submit();"><span class="btn btn-mini">Modify</span></a>
                            </form>

                            {/}
                        </td>
                        {/}
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <br>

    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td colspan="10" align="right" class="eng" height="20">
                Total {cnt} Articles, 1 of 1 Pages
            </td>
        </tr>
        <tr>
            <td style="width:10%" align="center" background="/images/godo_admin/board_bg.gif">
                <span style="display:block;text-align:center;color:#e3e3e3;padding:5px;">NO</span>
            </td>
            <td align="center" background="/images/godo_admin/board_bg.gif">
                <span style="display:block;text-align:center;color:#e3e3e3;padding:5px;">Title</span>
            </td>
            <td style="width:15%" align="center" background="/images/godo_admin/board_bg.gif">
                <span style="display:block;text-align:center;color:#e3e3e3;padding:5px;">Posted by</span>
            </td>
            <td style="width:15%" align="center" background="/images/godo_admin/board_bg.gif">
                <span style="display:block;text-align:center;color:#e3e3e3;padding:5px;">Date</span>
            </td>
            <td style="width:10%" align="center" background="/images/godo_admin/board_bg.gif">
                <span style="display:block;text-align:center;color:#e3e3e3;padding:5px;">Hit</span>
            </td>
        </tr>
        { @ list }
        <tr height="27" onmouseover="this.style.backgroundColor=&quot;#FAFAFA&quot;" onmouseout="this.style.backgroundColor=&quot;&quot;" {? boNO == list.boNO } bgcolor="#F7F7F7" {/}>
        <td  nowrap="" align="center" class="eng">
            {list.boNO}
        </td>
        <td style="padding-left:10px">
            {? list.boParent }<img src="/images/common/blank.png" style="width:{=(list.boDepth-1)*20}px;height:15px;"><img src="/images/godo_admin/board_re.gif">{/}
            <a href="/board/view/bodID/{list.bodID}/boNO/{list.boNO}">{list.boName}</a>
        </td>
        <td nowrap="" align="center">
            <b>{list.mbID}</b>
        </td>
        <td nowrap="" align="center" class="eng">
            {=substr(list.boRegDate,0,10)}
        </td>
        <td nowrap="" align="center" class="eng">
            {list.boHit}
        </td>
        </tr>
        <tr>
            <td colspan="10" height="1" bgcolor="#E0DFDF">
            </td>
        </tr>
        { / }
        </tbody>
    </table>
</div>
</div>
</div>
</article>
{ #layout_footer }
