<!-- 
	이 파일은 사용하지 않습니다. 
	바로 구글양식 페이지로 링크 걸었습니다.
 -->

<html>
<head>
	<meta name="robots" content="noindex, nofollow"
	<title>GBS TV Choral Festival Application</title>
<style>
body {margin:0; padding:0; background:#666666; }
#wrap {width:100%; margin:0px auto;  }
#contents h1 {padding:60px 0 0px 90px; }
#contents {position:relative; background:url('/images/GBSTV_ChoralFestival_photo.png') left 425px no-repeat;  overflow:hidden; }
#contents .info {padding-left:130px; }
#contents .prize {padding:220px 20px 0 540px;}
#contents .contact {margin:-140px 0 50px 110px; }
#contents .btn {padding-top:0px; text-align:center; }
.tac {text-align:center}
</style>

<script type="text/javascript">
function autoResize(i)
{
	alert("hello");
    var iframeHeight= (i).contentWindow.document.body.scrollHeight;
    (i).height=iframeHeight+20;
    alert("in the php file: "+(i).height);
}
</script>

</head>
<body>
<div id="wrap">
	<div id="header" class="tac">
		<img src="/images/choralFestival2014-top.jpg" width="700px" alt="GBS TV Choral Festival">
	</div>
	<div id="download" class="tac">
		<h3>Download Greeting Document</h3>
		<p>다음 문서를 다운로드 받으시면 본 행사의 상세한 정보를 보실 수 있습니다. <br/>Download following document 'Welcome greeting by GBS'</p>
	</div>
	<div>
		<iframe id="IF" src="https://docs.google.com/forms/d/1GJfI2wEmxqUKrZ4BDu_b3HO8n-4XE12F6syBPfckDVQ/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" onload="autoResize(this)">loading...</iframe>
	</div>	
</div>
</body>
</html>
