{ #layout_header }
<article class="content">
	<!--div id="navi" class="navigation">
        <div class="navi_wrap">
            <a href="" class="home">Home</a> >
            <a href="/homeshopping/index">Home Shopping</a>
        </div>
    </div-->
    <div class="window pt40">
		
		<iframe width="720" height="480" src="//www.youtube.com/embed/{ctSource}" frameborder="0" allowfullscreen></iframe>
		<div class="movie_info">
			<h2 class="mb20">GShopping</h2>
			<dl>
				<dt>Schedule </dt>
				<dd><span class="day">weekday Morning</span>  <span class="time">08:00-11:00</span></dd>
				<dd><span class="day">weekday Afternoon</span>  <span class="time">14:00-15:00 </span></dd>
				<dd><span class="day">weekday Evening</span>  <span class="time">18:00-19:00</span></dd>
				<dd><span class="day">Sat Mornning</span>  <span class="time">08:00-11:00</span></dd>
                                       <dd><span class="day">Sun Mornning</span>  <span class="time">08:00-10:40</span></dd>
				<dd><span class="day">Sat, Sun Afternoon</span>  <span class="time">14:00-15:00 </span></dd>
				<dd><span class="day">Sat, Sun Afternoon</span>  <span class="time">18:30-19:00</span></dd>
							</dl>
		</div>
	</div>
	<div class="window_bottom">
      <div class="conL">
		<a href="http://gshopping.co.ke" class="btn_yellow btn_big ">go! go! Go to GShopping Mall </a>
	<p style="margin-bottom:30px;"></p>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- gshopping -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3124975769866983"
     data-ad-slot="1440434956"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	<div class="conR">	
	</div>

	</div>

</article>


{ #layout_footer }
