{ #layout_admin_header }
<ol class="breadcrumb">
    <li><a href="/adm/main/index">HOME</a></li>
    <li><a href="/adm/content/index">콘텐츠 관리</a></li>
    <li class="active">정보수정</li>
</ol>

<div class="content container">
    <form class="form-horizontal" id="form-validate" action="/adm/content/process" method="post" enctype="multipart/form-data">
        <input type="hidden" name="mode" value="write">
        <input type="hidden" name="isChangeContent" value="">
        <input type="hidden" name="ctDuration">
        <input type="hidden" name="ctThumbS">
        <input type="hidden" name="ctThumbL">
        <input type="hidden" name="ctViewCount">
        <input type="hidden" name="ctLikeCount">
        <input type="hidden" name="ctRegDate">
        <input type="hidden" name="ctSource">

        <div class="row bordered">
            <label class="col-lg-2 control-label">콘텐츠 타입</label>
            <div class="col-lg-4">
                <select name="ctType" class="form-control">
                    <option value="">선택</option>
                    <option value="VIMEO">비메오</option>
                    <option value="YOUTUBE">유투브</option>
                </select>
            </div>
        </div>
        <div class="row bordered">
            <label class="col-lg-2 control-label">콘텐츠 카테고리</label>
            <div class="col-lg-6">
                <select class ="YOUTUBE_cate media_cate form-control" style="display:none;">
                    <option value="">선택</option>
                    {@ youtube_cate}
                    <option value="{youtube_cate->playlistId}">{youtube_cate->title}</option>
                    {/}
                </select>
                <select class="VIMEO_cate media_cate form-control" style="display:none;">
                    <option value="">선택</option>
                    {@ vimeo_cate}
                    <option value="{vimeo_cate->channelId}">{vimeo_cate->title}</option>
                    {/}
                </select>
            </div>
        </div>
        <div class="row bordered">
            <label class="col-lg-2 control-label">콘텐츠</label>
            <div class="col-lg-6 ctSource"></div>
        </div>
        <div class="row bordered">
            <label class="col-lg-2 control-label">콘텐츠이름</label>
            <div class="col-lg-6"><input type="text" class="form-control" name="ctName"></div>
        </div>
        <div class="row bordered">
            <label class="col-lg-2 control-label">강사/연주자</label>
            <div class="col-lg-6"><input type="text" class="form-control" name="ctSpeaker"></div>
        </div>
        <div class="row bordered">
            <label class="col-lg-2 control-label">성경구절</label>
            <div class="col-lg-6"><input type="text" class="form-control" name="ctPhrase"></div>
        </div>
        <div class="row bordered">
            <label class="col-lg-2 control-label">행사일</label>
            <div class="col-lg-6"><input type="text" class="form-control popDtpicker" name="ctEventDate"></div>
        </div>
        <div class="row bordered">
            <label class="col-lg-2 control-label">프로그램명</label>
            <div class="col-lg-6">
                <select name="prCode" class="form-control">
                    <option value="">선택</option>
                    {@ prlist}
                    <option value="{.prCode}">{.prName}</option>
                    {/}
                </select>
            </div>
        </div>
        <div class="row bordered">
            <label class="col-lg-2 control-label">콘텐츠내용</label>
            <div class="col-lg-6" >
                <textarea style="height:300px;width:100%" class="span9" id="ctContent" name="ctContent"></textarea>
            </div>
        </div>
        <div class="row bordered">
            <label class="col-lg-2 control-label">영상 수동 등록</label>
            <div class="col-lg-6">
                <input type="radio" name="videoCheck" value="YES"> YES
                <input type="radio" name="videoCheck" value="NO" checked="checked" > NO
            </div>
        </div>
        <div class="row bordered videoContainer" style="display:none">
            <label class="col-lg-2 control-label">일반화질 영상파일이름</label>
            <div class="col-lg-6"><input type="text" class="form-control" name="ctVideoNormal"></div>
        </div>
        <div class="row bordered videoContainer" style="display:none">
            <label class="col-lg-2 control-label">저화질 영상파일이름</label>
            <div class="col-lg-6"><input type="text" class="form-control" name="ctVideoLow"></div>
        </div>

        <div class="mt20">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <button type="submit" class="btn marginR10 btn-success">등록</button>
                <button onclick="location.href=('/adm/content/view/prCode/{prCode}');"  type="button" class="btn btn-default">뒤로</button>
            </div>
        </div>
    </form>
</div>

{ #layout_admin_footer }


<script>
    $('#MANUAL').bind("click",function(){
        if( $(this).is(':checked') ){
            $('#ctRelativeContents').css("display","");
        }
    });
    $('#AUTO').click(function(){
        if( $(this).is(':checked') ){
            $('#ctRelativeContents').css("display","none");
        }
    });
    $('.popDtpicker').appendDtpicker({
        "inline": true,
        "dateOnly": true,
        "dateFormat": "YYYY-MM-DD"
    });

    $("input[name=videoCheck]").change(function(){
        if($(this).val() == "YES") $(".videoContainer").fadeIn();
        else $(".videoContainer").fadeOut();
    });
</script>

