{ #layout_admin_header }
<ol class="breadcrumb">
    <li><a href="/adm/main/index">HOME</a></li>
    <li><a href="/adm/cfg_board/index">게시판</a></li>
    <li><a href="">{bodName}</a></li>
    <li class="active">댓글 리스트</li>
</ol>
<div class="content">
    <form method="post" class="bcoList" action="/adm/comment/process">
        <input type="hidden" name="bodID" class="comment_bodID" value="">
        <input type="hidden" name="mode" value="selectBoard">
    </form>
    <form method="post" action="/adm/comment/process" onsubmit="return confirm('삭제하시겠습니까?');">
        <input type="hidden" name="mode" value="delete">
        <div class="col-lg-3">
            <select name="bo_select" class="form-control">
                <option>게시판선택</option>
                {@ menu_rs}
                <option value="{.bodID}"{? bodID==.bodID}selected="selected"{/} >{.bodName}</option>
                {/}
            </select>
        </div>
        <div class="mb10">
            <button class="btn btn-default uncheck_all" type="button" >선택해제</button>
            <button class="btn btn-default" type="submit" >선택삭제</button>
        </div>

        <table class="table table-bordered table-striped table-hover" >
            <thead>
            <tr>
                <th id="masterCh" class="ch"><input type="checkbox" name="checkbox" value="all" class="styled" /></th>
                <th>번호</th>
                <th>게시판이름</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>답변</th>
            </tr>
            </thead>
            <tbody>
            {@ list}
            <tr height="35" align="center">
                <td class="chChildren"><input type="checkbox" name="chk[]" value="{list.bcoNO}" class="styled" /></td>
                <td>{listCnt - secParams.page - list.index_}</td>
                <td>{list.boName}</td>
                <td style="padding-left:30px; text-align:left;">
                    {? list.bcoDepth }<img src="/images/common/blank.png" style="width:{(list.bcoDepth-1)*20}px;height:15px;">ㄴ{/}
                    <a href="/adm/board/view/bodID/{list.bodID}/boNO/{list.boNO}">{list.bcoContent}</a>
                </td>
                <td>{list.mbID}</td>
                <td>{list.bcoRegDate}</td>
                <td><a href="/adm/board/view/bodID/{list.bodID}/boNO/{list.boNO}"><span class="icon12 icomoon-icon-pencil-3"></span></a></td>
            </tr>
            <!--{:}-->
            <tr>
                <td colspan="12">등록된 데이터가 없습니다.</td>
            </tr>
            <!--{/}-->

            </tbody>
        </table>
    </form>
    {pager}
    <form name="frmMod" class="form-horizontal frmMod" role="form" action="/adm/comment/modify" method="post">
        <input type="hidden" name="prCode" value="">
    </form>
</div>


{ #layout_admin_footer }

